@use './utilities/utilities.module.scss';
@use '../../../styles/core/mediaQueries';


.ameneties-container {
  width: 50%;
  min-height: 633px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  @include mediaQueries.desktop {
    width: 70%;
    justify-content: center;
  };
  @include mediaQueries.maxWidthMobile {
    width: 90%,
  };
}