@use 'colors';
@use 'mediaQueries';
@use 'fonts';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: fonts.$font-medium;
}

body {
  background-color: colors.$mainBackground;
}

main {
  padding: 18vh 5vw 5vh 4.5vw;

  @include mediaQueries.minWidthBigDesktops {
    padding: 14vw 15% 5vh 15%;
  }
  @include mediaQueries.tablet {
    padding: 16vh 5vw 5vh 6.5vw;
  };
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}