@use 'colors';
@use 'mediaQueries';
@use 'fonts';
@use 'vars';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth!important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: fonts.$font-medium;
}

body {
  background-color: colors.$mainBackground;
}

main {
  padding: 80px 5vw 5vh 4.5vw;
  min-height: 100vh;
  @include mediaQueries.minWidthBigDesktops {
    padding: 80px 15% 5vh 15%;
  }
  @include mediaQueries.tablet {
    padding: 80px 5vw 5vh 6.5vw;
  };
  @include mediaQueries.maxWidthMobile {
    padding: 80px 5vw 5vh 4.5vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: fonts.$font-medium
}