$sectionMinHeight: 650px;

$footerPaddingDefault: 20px 5vw 5vh 4.5vw;
$footerPaddingMinWidthBigDesktops: 20px 15% 5vh 15%;
$footerPaddingTablet: 20px 5vw 5vh 6.5vw;
$footerMaxWidthMobile: 20px 5vw 5vh 4.5vw;