$sectionMinHeight: 650px;

$footerPaddingDefault: 20px 5vw 7vh 4.5vw;
$footerPaddingMinWidthBigDesktops: 20px 15% 7vh 15%;
$footerPaddingTablet: 40px 5vw 20px 6.5vw;
$footerMaxWidthMobile: 40px 5vw 20px 4.5vw;