@use '../../../../styles/core/fonts';
@use '../../../../styles/core/colors';
@use '../../../../styles/core/mediaQueries';

.ameneties_paragraph-container {
  .title-wrapper {
    border: solid 1px colors.$black;
    border-radius: 48px/118px;
    width: 194px;
    position: relative;
    text-align: center;
    background-color: colors.$black;
    margin-bottom: 40px;
    h1 {
      font-size: 25px;
      margin: 10px 0;
      color: colors.$white;
    }
  }
  .ameneties_paragraph-wrapper {
    .about-paragraph {
      margin: 40px 0;
      font-size: 20px;
      font-weight: fonts.$font-regular;
      @include mediaQueries.desktop {
        font-size: 14px;
      };
    }
  }
}
