@use '../templates/home/home.module.scss';

@use '../templates/stay-with-us/stayWithUs.module.scss';
@use '../templates/stay-with-us/description/description.module.scss';
@use '../templates/stay-with-us/image-media/imageMedia.module.scss';

@use '../templates/about/about.module.scss';
@use '../templates/about/ameneties/ameneties.module.scss';
@use '../templates/about/ameneties/text-description/textDescription.module.scss';
@use '../templates/about/ameneties/utilities/utilities.module.scss';