@use '../../styles/core/vars';
@use '../../styles/core/mediaQueries';

.stay-with-us_wrapper {
  height: 100vh;
  min-height: 737px;
  position: relative;
  @include mediaQueries.maxWidthMobile {
    height: 100vh;
  }
  @include mediaQueries.tablet {
    height: 100vh;
  }
}