@use '../../styles/core/vars';
@use '../../styles/core/mediaQueries';

.stay-with-us_wrapper {
  padding: 30px 0;
  max-height: 100vh;
  min-height: vars.$sectionMinHeight;
  position: relative;
  @include mediaQueries.maxWidthMobile {
    height: 100vh;
    min-height: 650px;
  }
}