@use '../../../styles/core/mediaQueries';

.image-container {
  position: absolute;
  bottom: 0;
  height: 67%;
  width: 100%;
  text-align: center;
  @include mediaQueries.maxWidthMobile {
    text-align: left;
  }
  .image-content {
    min-height: 100%;
    .stay-with-us_embla {
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 390px;
      .stay-with-us_embla_viewport {
        overflow: hidden;		    
        width: 100%;
        border-radius: 0;
        .stay-with-us_embla__container {

          .stay-with-us_embla__slide {
            min-width: 16.5%;
            @include mediaQueries.desktop {
              min-width: 36%;
            }
            @include mediaQueries.maxWidthMobile {
              min-width: 223px;
            }
            .stay-with-us_embla__slide__inner {		    
              position: relative;		    
              overflow: hidden;		    
              height: 100%;	
              width: 90%;
              border-radius: 12px;
              @include mediaQueries.desktop {
                width: 88%;
              }
              @include mediaQueries.maxWidthMobile {
                width: 92%;
              }
              .stay-with-us_embla__slide__img {
                width: 100%;		  
                height: 100%; 
                -o-object-fit: cover;		  
                object-fit: cover;
              }
            } 
          }
        }
      }
    }
  }
}

.stay-with-us_embla_viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.stay-with-us_embla_viewport.is-dragging {
  cursor: grabbing;
}