@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';
@use '../../styles/core/vars';

.contact-wrapper {
  background-color: colors.$footer;
  padding: vars.$footerPaddingDefault;
  border-top: 1px solid colors.$footerBorder;
  @include mediaQueries.minWidthBigDesktops {
    padding: vars.$footerPaddingMinWidthBigDesktops;
  }
  @include mediaQueries.tablet {
    padding: vars.$footerPaddingTablet;
    height: 65vh;
    min-height: 650px;
  };
  @include mediaQueries.maxWidthMobile {
    padding: vars.$footerMaxWidthMobile;
  }
  .title-wrapper {
  }
  .contact-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    @include mediaQueries.desktop {
      flex-direction: column;
    }
  }
}