@use '../../styles/core/mediaQueries';

.embla {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 755px;
  margin-left: auto;
  margin-right: auto;
  @include mediaQueries.minWidthBigDesktops {
    max-height: 39vw;
  }
  .embla_viewport {
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
    &.is-draggable {
      cursor: move;
      cursor: grab;
    }
    &.is-dragging {
      cursor: grabbing;
    }
  }
} 