@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';

.review-wrapper {
  height: auto;
  min-height: 700px;
  @include mediaQueries.desktop {
    min-height: 660px;
  }
  .title-wrapper {
    border: solid 2px #212121;
    border-radius: 48px/118px;
    width: 230px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
    h1 {
      margin: 10px 0;
    }
  }
  .review-carousel_wrapper {
    .review_embla {
      position: relative;
      width: 92%;
      height: 245px;
      margin-left: auto;
      margin-right: auto;
      @include mediaQueries.desktop {
        width: 100%;
      }
      .review_embla_viewport {
        overflow: hidden;
        width: 100%;
        border-radius: 0;
        .review_embla__container{

          .review_embla__slide {
            min-width: 35%;
            @include mediaQueries.desktop {
              min-width: 80%;
            }
            .review_embla__slide__inner {
              position: relative;
              overflow: hidden;
              height: auto;
              width: 82%;
              @include mediaQueries.desktop {
                min-width: 90%;
              }
            }
          }
        }
      }
    }
    .embla__button {
      fill: colors.$black;
      width: 15px;
      height: 15px;
      @include mediaQueries.desktop {
        display: none;
      }
    }
    .embla__button--prev {
      left: -45px;
    }
    .embla__button--next {
      right: -45px;
    }
  }
}