@use '../../styles/core/mediaQueries';

.home-wrapper {
  min-height: calc(100vh - 18vh);
  @include mediaQueries.minWidthBigDesktops {
    min-height: calc(100vh - 14vw);
  }
  @include mediaQueries.tablet {
    min-height: calc(100vh - 16vh);
  };
  .carousel-wrapper {
    position: relative;
  }
  .stay-with-us-button {
    margin: 30px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    a {
      padding-top: 3.5px;
    }
  }
}

