@use '../../../styles/core/vars';
@use '../../../styles/core/mediaQueries';

.paragraph-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 28%;
  min-height: calc(vars.$sectionMinHeight / 4);
  @include mediaQueries.maxWidthMobile {
    align-items: flex-start;
    text-align: left;
  }
  .paragraph-wrapper > * {
    margin: 5px;
  }
}